
<table class="table table-striped">

  <% @sales_tables.each do |sale| %>
  <tr>

     <td>
       <%= sale.employee.first_name %>
    </td>

    <td>
       <%= sale.sale_amount %>
    </td>

    <td>
       <%= sale.sale_date %>
    </td>

    <td>
      <%= sale.units_sold %>
    </td>

    <td>
      <%= sale.customer.name %>
    </td>


  </tr>
  <% end %>

</table>
